/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.login-container {
    background-color: #ffffff;
    padding: 2rem;
    padding-top: 120px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: left;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.blue-banner {
    background-color: #D8E7FD;
    height: 30%;
    width: 100%;
    position: absolute;
    margin-bottom: 20%;
    top: 0;
    left: 0;
    z-index: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.login-image-placeholder {
    height: 80px;
    width: 80px;
    background-color: #cfd8ff;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: -40px;
    position: relative;
    z-index: 1;
}

.login-title {
    font-size: 22px;
    color: #494A50;
    margin-bottom: 1%;
    margin-top: 65%;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
}

.title-underline {
    width: 99%;
    height: 1px;
    margin-bottom: 12%;
    background-color: #000;
}

.input-group input,
.p-password input.p-inputtext {
    width: 100%;
    padding: 0.75rem;
    padding-right: 2.5rem;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    box-sizing: border-box;
}

.p-password {
    position: relative;
    width: 100%;
}

.p-password input.p-inputtext {
    width: 100%;
}

.p-password .p-password-toggle-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #333;
    cursor: pointer;
    z-index: 10;
}

.input-group {
    margin-bottom: 1rem;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 0.25rem;
}

.login-button {
    padding: 0.65rem;
    height: 10%;
    margin-top: 10%;
    margin-bottom: 5%;
    background-color: #060A74;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    width: 35%;
}

.login-button:hover {
    background-color: #555;
}

.login-links {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.login-links a {
    color: #006FFD;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.login-links a:hover {
    text-decoration: underline;
}

/* Responsividad */
@media (max-width: 768px) {
    .login-container {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .login-container {
        padding: 1rem;
    }
}
